<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <link rel="stylesheet" href="{{ site.data.manifest['main.css'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Nanum+Gothic+Coding&family=Oswald&family=Pathway+Gothic+One&family=Raleway&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
    {% seo %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CCNJ72T8D0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CCNJ72T8D0');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics end -->
    <!-- Favicons Begin-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons End-->
</head>
<!-- The top padding here should be aligned with the responsive heights of the nav-bar -->
<body class="m-0 bg-fixed bg-cover min-h-screen text-center">
  <!--Navigation bar-->
  <nav class="top-0 flex font-mono w-full block fixed items-center justify-center bg-black bg-opacity-70 h-12 md:h-16 lg:h-20 xl:h-24 z-50 shadow-xl text-platinum no-underline text-xl lg:text-2xl xl:text-4xl" style="--bg-opacity: 0.8">
    <ul>
      <li style="position: relative;" class="inline-block mr-4 sm:mr-16">
        <a href="{% link index.html %}" class="nav-bar">
          Home
        </a>
      </li>
      <li style="position: relative;" class="inline-block mr-4 sm:mr-16">
        <a href="{% link blog.html %}" class="nav-bar">
          Blog
        </a>
      </li>
      <li style="position: relative;" class="inline-block">
        <a href="{% link about.html %}" class="nav-bar">
          About Me
        </a>
      </li>
    </ul>
  </nav>
  <!--end of Navigation bar-->
  <div class="inline-block md:ml-8 lg:ml-16 md:mr-8 lg:mr-16 mb-8 pt-16 md:pt-20 lg:pt-24 xl:pt-32" style="max-width: 1400px;">
    {{ content }}
  </div>
</body>
</html>
